.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 95vh; 
    border-radius: 15px;
}

